.container{
display: grid;
grid-template-columns: 3 ,1fr;

grid-gap: 10px;
}

h1{
    text-align: center;
}

.nameType{
    align-items: center;
    text-align: center;
}

.breadType{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.protienType{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.toppingType{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.submitButton{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* #kitty{
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
} */